*{
    margin: 0;
    padding: 0;
}
.main-menu {
    width: 100%;
    display: flexbox;
    align-items: center;
    justify-content: center;
}
.main-menu > button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    height: 20%;
    background-size: 400%;
    background-image: linear-gradient(to right, #067AC3 , #13317D, #EBE96E , #F3A838);
    color: #EBDDDD;
    border-radius: 10px;
    border:2px black solid;
    box-shadow: 3px 5px black;
}
.main-menu > button:hover {
    background-image: linear-gradient(to right, #067AC3 , #13317D, #EBE96E , #F3A838);
    color: #11110B;
    transition: 1s;
    cursor: pointer;
    animation: button-animation 1s forwards 1 alternate;
}
.main-menu > button:hover svg {
    stroke-dashoffset: -100%;
}
@keyframes button-animation {
    0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 50%;
	}
}
.main-menu > button:active {
    transform: translateY(3px);
    box-shadow: 3px 2px black;
    transition: 0.05s;
}
.main-menu > button:focus{
    transition: 0.05s;
    
}
.flex-container{
    display: flex;
    background-size: 500%;
    background-image: linear-gradient(135deg, #041527, #030913, #080835);
    height: 100%;
    width: 100%;
    animation: bg-animation 10s ease infinite;
}
@keyframes bg-animation{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
    0% {
		background-position: 0% 50%;
	}
}
.card-info{
    width: 390px;
    height:100%;
}
.sort-class{
    width:200px;
    height: 20  0px;
    display: flex;
    background-color: #e9e0d2;
}

.info-top-left{
    display:flex;
    width:100%;
    color:white;
}
.card-invdidual{
    width: 200px;
    height: 300px;
    margin:20px 0px 10px 10px;
    padding:5px;
    padding-bottom: 0;
    background-color: #131313;
}
.card-name{
    text-align: center;
    border:2px #454745 solid;
    background-color: #9ba39b;
    color: #131313;
    border-radius: 6px;
    margin: 5px;
    padding: 2px;
    font-size: 16px;
}
.info-header{
    padding-top: 7px;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    font-size:18px;
    color: #131313;
    text-align: center;
    background-image: linear-gradient(to right, #EBE96E , #F3A838);
    border-radius: 10px 10px 2px 2px;
}
.header{
    color:#F3A838; /* Monster: #F3A838 */
}
.info-effect{
    background-color: #16171A;
    color: #EBDDDD;
    margin-left: 1%;
    border: 3px #393943 solid;
    border-radius:0.2%;
    padding:1.7%;
    font-size:15px;
    height:95%;
}
